
@{
    ViewBag.Title = "Home";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Home</h5>
        <p class="card-text">This project simplifies entitiy management by use of a few base classes for repositories, services, entities and controllers.</p>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">API</h5>
        <p class="card-text">The API is the heart of the project. Most of the things done are backend only. Check the API Documentation for more info about available functions.</p>
        <button class="btn" onclick="window.open('/api', '_self')">Open API Documentation</button>
    </div>
</div>

